.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    z-index: 1000;
}

.logo{
    height: 40px;
}

.nav a{
    margin-left: 40px;
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

.nav a.active{
    font-weight: bold;
    color:#000;
}